<div id="ratios">
    <div>
        <div id="banner">
            <a href="http://www.usgprofessionals.be"><img src="IMG/logo-usg-professionals.png" alt="logo USG Professionals" width="200" height="40"></a>

            <h1>BALANCE SHEET RATIOS</h1>
        </div>

        <div ng-controller="headerCtrl" id="compInfo">
            <div><h3>Company  :</h3> <label>{{company.name}}</label></div>
            <div><h3>Sector  :</h3> <label>{{company.sector.name}}</label></div>
            <div><h3>Sector Average Source</h3> <label>{{source_name}}</label></div>
        </div>

        <div ng-controller="SolvencyCtrl" class="inline">
            <div>
                <h2>Solvency<a class="questionmark" ng-click="help()" print-remove></a></h2>
            </div>

            <div class="top-border">
                <canvas id="Solvency" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"></canvas>
            </div>

            <div class="top-border">
                <table>
                    <thead>
                        <tr>
                            <th></th>

                            <th ng-repeat="label in labels track by $index">{{label}}</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Solvency</td>

                            <td ng-repeat="item in data[0] track by $index"><div><img ng-src="{{condition(item)}}" alt="condition"/>{{item | NumberEU}} %</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="top-border formula-div">
                <div class="formula">
                    <label>Formula:</label>
                </div>

                <div class="formula">
                    <label class="bottom-border">Equity</label><br>
                    <label>Total Assets</label>
                </div>
            </div>
        </div>

        <div ng-controller="CurrRatioCtrl" class="inline">
            <div>
                <h2>Current Ratio<a class="questionmark" ng-click="help()" print-remove></a></h2>
            </div>

            <div class="top-border">
                <canvas id="CurrRatio" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"></canvas>
            </div>

            <div class="top-border">
                <table>
                    <thead>
                        <tr>
                            <th></th>

                            <th ng-repeat="label in labels track by $index">{{label}}</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Current Ratio</td>

                            <td ng-repeat="item in data[0] track by $index"><div><img ng-src="{{condition(item)}}" alt="condition"/>{{item | NumberEU}} %</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="top-border formula-div">
                <div class="formula">
                    <label>Formula:</label>
                </div>

                <div class="formula">
                    <label class="bottom-border">Current Assets</label><br>
                    <label>Current Liabilities</label>
                </div>
            </div>
        </div>

        <div ng-controller="QuickRatioCtrl" class="inline">
            <div>
                <h2>Quick Ratio<a class="questionmark" ng-click="help()" print-remove></a></h2>
            </div>

            <div class="top-border">
                <canvas id="QuickRatio" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"></canvas>
            </div>

            <div class="top-border">
                <table>
                    <thead>
                        <tr>
                            <th></th>

                            <th ng-repeat="label in labels track by $index">{{label}}</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Quick Ratio</td>

                            <td ng-repeat="item in data[0] track by $index"><div><img ng-src="{{condition(item)}}" alt="condition"/>{{item | NumberEU}} %</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="top-border formula-div">
                <div class="formula">
                    <label>Formula:</label>
                </div>

                <div class="formula">
                    <label class="bottom-border">Current Assets minus Inventory</label><br>
                    <label>Current Liabilities</label>
                </div>
            </div>
        </div>

        <div id="buttonsdiv" class="centered" ng-controller="ButtonsCtrl" print-remove>
            <button type="button" ng-click="back()">Back</button>
        </div>
        <div>
            <script type="text/ng-template" id="solvencytemplate">
                <div id="ratios">
                <div class="template">
                <h2>Solvency</h2>
                <p>The extent to which a company is able to pay its debts. In other words, when realising all the assets, is there some security margin for the creditors.  This measure is calculated in %.</p>
                <br />
                <h3>Interpretation of the outcome</h3>
                <p>Different industries have different standards as to what qualifies as an acceptable solvency ratio, but, in general, banks expect a minimum solvency <b>in the 25% to 30% range</b> is considered healthy. </p>
                <p><img src="IMG/green.png" alt="green" width="24" height="28" />Solvency ratio &gt; 30%: A stronger or higher ratio indicates a financial strength. The dependence in relation to debt providers will be lower, therefore creditors will be more inclined to provide additional debt.</p>
                <p><img src="IMG/orange.png" alt="orange" width="27" height="31" />Solvency between 25 and 30 %: Be careful! This means that if the value of the assets would decrease by 30%, the creditors may not be able to recover their debt. However, depending on the sector, some deviations are possible.</p>
                <p><img src="IMG/red.png" alt="red" width="24" height="30" />Solvency ratio &lt; 25%: a lower ratio, or one on the weak side, could indicate financial distress in the future. The creditors will miss some security margin and will not be willing to extend additional debt.</p>
                <p>Depending on the sector, the ratio can be lower (e.g. banks, financial institutions) or higher (e.g. capital intensive industries).
                </p>
                <h3>Recommendations</h3>
                <p>Companies can take steps to improve their solvency ratios:</p>
                <ul><li>Selling assets above the book value;</li><li>Reorganize the business structure to increase own equity;</li><li>Struggling businesses should try to avoid taking on new debts until their solvency ratios improve;</li><li> Possibly off-balance sheet leasing can be an alternative;</li><li>Alternative to improve the financial structure is to consider subordinated loans.</li></ul>
                </div>
                </div>
            </script>
            <script type="text/ng-template" id="currratiotemplate">
                <div id="ratios">
                <div class="template">
                <h2>Current Ratio</h2>
                <p>The current ratio is a liquidity ratio that measures a company's ability to pay short-term obligations with the short term assets. To gauge this ability, the current ratio considers the total short term assets of a company (both liquid and illiquid) relative to that company’s total short term liabilities.</p>
                <br />
                <h3>Interpretation of the outcome</h3>
                <p>Acceptable current ratios vary from industry to industry, but a current ratio <b>between 100% and 150%</b> is considered standard. If a company's current assets are in this range, then it is generally considered to have good short-term financial strength. Banks usually take 125 % as benchmark.</p>
                <p><img src="IMG/green.png" alt="green" width="24" height="28" />Current ratio &gt; 125% : The company will have more assets to repay his short term debts. 125% is the benchmark usually taken by the banks.</p>
                <p><img src="IMG/orange.png" alt="orange" width="27" height="31" />Current ratio between 100% and 125%: Be careful! The company may have problems meeting its short-term obligations.</p>
                <p><img src="IMG/red.png" alt="red" width="24" height="30" />Current ratio &lt; 100%: If current liabilities exceed current assets (the current ratio is below 1), then the company may have problems meeting its short-term obligations</p>
                <p>Depending on the sector, the minimum ratio can sometimes be lower (e.g. retailers).</p>
                <h3>Recommendations</h3>
                <p>Companies can take steps to improve their current ratios:</p>
                <ul><li>Financing of new current assets can be financed by equity or long term liabilities, rather than the short term liabilities, enabling that the level of current assets would increase with current liabilities remaining the same. Consequently, this exercise will improve the current ratio.  
                </li><li>Cash level can be increased by selling unused fixed assets, avoiding that money is unnecessarily blocked into them. 
                </li><li>Not only does the current ratio depend on current assets, it is equally dependent on the current liability which is the denominator. Ideally the company can use new long term loans to repay short term liabilities
                </li></ul>
                </div></div>
            </script>
            <script type="text/ng-template" id="quickratiotemplate">
                <div id="ratios">
                <div class="template">
                <h2>Quick Ratio</h2>
                <p>The quick ratio is an indicator of a company’s short-term liquidity. The quick ratio measures a company’s ability to meet its short-term obligations with its most liquid assets. For this reason, the ratio excludes inventories from current assets.
                </p>
                <br />
                <h3>Interpretation of the outcome</h3>
                <p>Generally, the acid test ratio should be 100% or higher, however this varies widely by industry.</p>
                <p><img src="IMG/green.png" alt="green" width="24" height="28" />Quick ratio &gt; 100%: In general, the higher the ratio, the greater the company's liquidity, meaning the better able to meet current obligations using liquid assets.</p>
                <p><img src="IMG/orange.png" alt="orange" width="27" height="31" />Quick ratio slightly below 100%: Be careful! It is possible that the company will not have enough assets to fully pay back its current liabilities.</p>
                <p><img src="IMG/red.png" alt="red" width="24" height="30" />Quick ratio &lt; 100%: A company with a quick ratio of less than 100% cannot currently fully pay back its current liabilities.</p>
                <p>Depending on the sector, the minimum ratio can sometimes be lower (e.g. retailers). </p>
                <h3>Recommendations</h3>
                <p>If you do have a lower quick ratio than industry standard, you need to either increase current assets (excluding the stocks) or reduce current liabilities.</p>
                <p>Regarding to the recommendations to improve the quick ratio, you can also take the recommendations for the current ratio into account.</p>
                </div>
                </div>
            </script>
        </div>
    </div>
</div>
