<div id="ratios">
	<div>
    <div id="banner">
        <a href="http://www.usgprofessionals.be"><img src="IMG/logo-usg-professionals.png" alt="logo USG Professionals" width="200" height="40"></a>

        <h1>COVERAGE RATIOS</h1>
    </div>
    <div ng-controller="headerCtrl" id="compInfo">
	    <div><h3>Company  :</h3> <label>{{company.name}}</label></div>
        <div><h3>Sector  :</h3> <label>{{company.sector.name}}</label></div>
    </div>
	<div id="chart-overview-div">
    <div ng-controller="FinChargesCtrl" class="inline">
        <div>
            <h2>Financial charges coverage ratio<a class="questionmark" ng-click="help()" print-remove></a></h2>
        </div>

        <div class="top-border">
            <canvas id="FinCharges" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"></canvas>
        </div>

        <div class="top-border">
            <table>
                <thead>
                    <tr>
	                    <th></th>
                        <th ng-repeat="label in labels track by $index">{{label}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
	                    <td>EBIT/Fin. Exp.</td>
                        <td ng-repeat="item in data[0] track by $index"><div><img ng-src="{{condition(item)}}" alt="condition"/>{{item | NumberEU}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="top-border formula-div">
	        <div class="formula"><label>Formula:</label></div><div class="formula"><label class="bottom-border">EBIT</label><br /><label>Financial Expenses</label></div>
        </div>
    </div>
	
    <div ng-controller="FinDebtEBITDACtrl" class="inline">
        <div>
            <h2>Net financial debt/EBITDA ratio<a class="questionmark" ng-click="help()" print-remove></a></h2>
        </div>

        <div class="top-border">
            <canvas id="FinDebtEBITDA" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"></canvas>
        </div>

        <div class="top-border">
            <table>
                <thead>
                    <tr>
	                    <th></th>
                        <th ng-repeat="label in labels track by $index">{{label}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
	                    <td>Net Fin. Debt/EBITDA</td>
                        <td ng-repeat="item in data[0] track by $index"><div><img ng-src="{{condition(item)}}" alt="condition"/>{{item | NumberEU}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="top-border formula-div">
	        <div class="formula"><label>Formula:</label></div><div class="formula"><label class="bottom-border">Total Financial Debt minus Cash</label><br /><label>EBITDA</label></div>
        </div>
    </div>
	</div>
    <div id="buttonsdiv" class="centered" ng-controller="ButtonsCtrl" print-remove>
        <button type="button" ng-click="back()">Back</button>
    </div>
</div>
<script type="text/ng-template" id="finchargestemplate">
    <div id="ratios">
	<div class="template">
		<h2>Financial charges coverage ratio</h2>
		<p>Determines how easily a company can pay the interests on outstanding debts with its earnings.</p>
		<br />
		<h3>Interpretation of the outcome</h3>
                                <p>3,0 is generally considered to be a bare minimum acceptable ratio for a company and a tipping point below which lenders will likely refuse to lend the company more money, as the company’s risk for default is too high.</p>
		<p><img src="IMG/green.png" alt="green" width="24" height="28" />Financial charges coverage ratio &gt; 3,0: This means that the company has earned more than 1,5 times its financial charges, the company is able to pay the financial charges of the company.</p>
		<p><img src="IMG/orange.png" alt="orange" width="27" height="31" />Financial charges coverage ratio slightly below 3,0: Be careful! It is possible that the debt expenses will burden the company, and this might put the company in difficulties. 
</p>
		<p><img src="IMG/red.png" alt="red" width="24" height="30" />Financial charges coverage ratio &lt; 3,0: The lower a company’s financial coverage ratio is, the more its debt expenses burden the company. When a company's financial coverage ratio is 3 or lower, its ability to meet interest expenses may be questionable. Moreover, a financial coverage ratio below 1 indicates the company is not generating sufficient revenues to satisfy its financial expenses.</p>
                <p>Depending on the sector, the minimum ratio can sometimes be higher or lower.</p>
<h3>Recommendations</h3>
<p>A company can take some action to improve its financial charges coverage ratio. In addition to the general actions allready mentioned in the caption ROI and ROA:</p>
<ul><li>The company can consolidate her high interest payments and perhaps pay them off with a loan with a lower interest rate.</li>
<li>The company can put in place an active Cash Management enabling to transfer excess cash from one current account to another account with a debit position which optimizes interest on these funds. At the same time, these funds are available to use when required. This will have a positive impact on the ROA, ROE and the solvency.</li></ul>

	</div>
        </div>
</script>
<script type="text/ng-template" id="findebttemplate">
    <div id="ratios">
	<div class="template">
		<h2>Net financial debt/EBITDA ratio</h2>
		<p>The net debt to EBITDA ratio is a debt ratio that shows how many years it would take for a company to pay back its debt if net debt and EBITDA are held constant. If a company has more cash than debt, the ratio can be negative.</p>
		<br />
		<h3>Interpretation of the outcome</h3>
                <p>2,5 is generally considered to be a bare minimum acceptable ratio for a company and a tipping point below which banks will likely refrain from lending the company more money, as the company’s risk for default is too high. A negative ratio means that the company has more cash than debt. Depending on the sector, the minimum ratio can sometimes be higher or lower.</p>
		<p><img src="IMG/green.png" alt="green" width="24" height="28" />Net financial debt/EBITDA ratio &lt; 2,5: This means that the company is able to repay its debt. 2,5 years is the benchmark usually taken by the banks.</p>
		<p><img src="IMG/orange.png" alt="orange" width="27" height="31" />Net financial debt/EBITDA ratio slightly above 2,5: Be careful! This means that the company might experience difficulties to repay its debt and could get in trouble.</p>
		<p><img src="IMG/red.png" alt="red" width="24" height="30" />Net financial debt/EBITDA ratio &ht; 2,5: Ratios higher than 2,5 typically set off alarm bells because this indicates that a company is less likely to be able to handle its debt burden, and thus is less likely to be able to take on the additional debt required to grow the business. Ultimately, however, it depends on the benchmark of the industry you are looking at.</p>
                <h3>Recommendations</h3>
<p>High values of Debt / EBITDA would indicate that the company is too indebted, and therefore would have a lower credit rating and have to pay higher interests cost on its loans. Usually the loan agreements foresee covenants including a maximum Debt / EBITDA ratio.</p>
<p>In order to improve this ratio, the company needs either to increase its equity (enabling to repay debt) or its profitability, enabling to increase its operational cash flow.</p>
</div>
	</div>
</script>
</div>