<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="inputcss.css" />
    <link rel="stylesheet" type="text/css" href="flaticons/flaticon.css">
</head>

<body>
    <div id="input">
        <div id="banner" ng-controller="HelpCtrl">
            <div>
                <a href="http://www.usgprofessionals.com/belgium/finance"><img src="IMG/logoUSG-Finance-Professionals.gif" alt="logo USG Finance Professionals" width="160" height="80" /></a>
            </div>

            <div id="titlenbutton">
                <div>
                    <h1>USG WORKING CAPITAL SCAN</h1>
                </div>

                <div id="titlenbuttonbutton">
                    <button type="button" ng-click="help()">Help</button>
                </div>
            </div>
        </div><!-- no ng-submit due to multiple submit buttons. Since submit on <return> is not required this has the same effect -->
        <!-- novalidate to enable AngularJS validation -->

        <form id="inputForm" ng-controller="MyForm" novalidate="">
            <div id="headdiv">
                <div>
                    <!-- Sector dropdown filled with the values in $scope.sector -->
                    <label>Sector</label> <select ng-model="company.sector" tooltips="" tooltip-content="Please select a sector from the list" ng-options="sector.name for sector in sectors track by sector.id">
                        <option value="" ng-disabled="true">
                            Select a sector
                        </option>
                    </select>
                </div>

                <div>
                    <label>Company</label> <input type="text" ng-model="company.company" /><br />
                    <label>Closing date</label> <input type="text" ng-model="company.closingDate" />
                </div>

                <div>
                    <label class="special">Does your group have affiliates or branches in countries outside the Euro Zone</label> <input type="text" ng-model="company.outsideEU" class="special" /><br />
                    <label>If "YES", in which countries</label> <input type="text" ng-model="company.countries" />
                </div>
            </div>

            <div>
                <div>
                    <!-- add an extra column to the table -->
                    <button class="addcolumn" ng-click="addStartYear()" type="button" tooltips="" tooltip-content="Add an extra year after the latest year">year later</button> <button class="addcolumn" ng-click="add()" type="button" tooltips="" tooltip-content="Add an extra year before the earliest year">year earlier</button>

                    <table>
                        <thead id="inputtablehead">
                            <tr>
                                <th class="theadlabel">(in 1.000 )</th><!-- generate the table headers based on the # of years found in $scope.years -->

                                <th ng-repeat="year in years">{{year}}<i class="flaticon-close42" ng-click="removeCol(year)"></i></th>

                                <th class="NBBCodesHeader">NBB Codes</th>

                                <th>Source</th>
                            </tr>
                        </thead><!-- each line will generate the required amount of input/label columns based on the data available in $scope.inputs -->

                        <tbody class="input">
                            <tr>
                                <td>Number of Months</td>

                                <td ng-repeat="cols in inputs.numberOfMonths"><input ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes"></td>
                            </tr>

                            <tr>
                                <td>
                                    <h2 class="subheader">BALANCE SHEET</h2>
                                </td>
                            </tr>

                            <tr>
                                <td>Fixed assets</td>

                                <td ng-repeat="cols in inputs.fixedAssets"><input ng-class="errors.fixedAssets[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">20/28</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which intangibles / goodwill</td>

                                <td ng-repeat="cols in inputs.intangiblesAssets"><input ng-class="errors.intangiblesAssets[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">20+21</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which property, plant and equipment</td>

                                <td ng-repeat="cols in inputs.propertyAssets"><input ng-class="errors.propertyAssets[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">22/27</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which financial fixed assets</td>

                                <td ng-repeat="cols in inputs.finFixedAssets"><input ng-class="errors.finFixedAssets[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">28</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which other fixed assets</td>

                                <td ng-repeat="cols in inputs.otherFixedAssets"><input ng-class="errors.otherFixedAssets[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes"></td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Inventory</td>

                                <td ng-repeat="cols in inputs.inventory"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">3</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Accounts Receivable</td>

                                <td ng-repeat="cols in inputs.ar"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">40</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Cash</td>

                                <td ng-repeat="cols in inputs.cash"><input ng-class="errors.cash[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">50/53+54/58</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Investments</td>

                                <td ng-repeat="cols in inputs.investments"><input ng-class="errors.investments[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">50/53</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Liquid assets</td>

                                <td ng-repeat="cols in inputs.liquidAssets"><input ng-class="errors.liquidAssets[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">54/58</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Current assets</td>

                                <td ng-repeat="cols in inputs.currAssets"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">29/58</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Total assets</td>

                                <td ng-repeat="cols in inputs.totAssets"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">20/58</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Equity</td>

                                <td ng-repeat="cols in inputs.equity"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">10/15</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Long term financial debt</td>

                                <td ng-repeat="cols in inputs.ltFinDebt"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">170/4</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which subordinated/convertible debt</td>

                                <td ng-repeat="cols in inputs.subordinatedDebt"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">170</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Short term financial debt</td>

                                <td ng-repeat="cols in inputs.stFinDebt"><input ng-class="errors.stFinDebt[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">42+43</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which current portion long term loans</td>

                                <td ng-repeat="cols in inputs.longTermLoans"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">42</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which financial debt</td>

                                <td ng-repeat="cols in inputs.finDebt"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">43</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Accounts payable</td>

                                <td ng-repeat="cols in inputs.ap"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">44</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Current liabilities</td>

                                <td ng-repeat="cols in inputs.currLiabilities"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">17/49</td>

                                <td class="source">Financial Statements</td>
                            </tr>
                        </tbody>

                        <tbody class="calculated">
                            <tr>
                                <td>Working capital</td>

                                <td ng-repeat="cols in inputs.workingCapital">{{cols.data | NumberEU}}</td>

                                <td></td>

                                <td class="source">Automatic computation</td>
                            </tr>

                            <tr>
                                <td>Net debt</td>

                                <td ng-repeat="cols in inputs.netDebt">{{cols.data | NumberEU}}</td>

                                <td></td>

                                <td class="source">Automatic computation</td>
                            </tr>
                        </tbody>

                        <tbody class="input">
                            <tr>
                                <td>
                                    <h2 class="subheader">PROFIT AND LOSS</h2>
                                </td>
                            </tr>

                            <tr>
                                <td>Turnover</td>

                                <td ng-repeat="cols in inputs.turnover"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">70/74</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Cost of sales</td>

                                <td ng-repeat="cols in inputs.costOfSales"><input ng-class="errors.costOfSales[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">60+61</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which commodities, raw materials and consumables</td>

                                <td ng-repeat="cols in inputs.comMatCon"><input ng-class="errors.comMatCon[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">60</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which miscellaneous goods and services</td>

                                <td ng-repeat="cols in inputs.miscGoods"><input ng-class="errors.miscGoods[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">61</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Depreciation</td>

                                <td ng-repeat="cols in inputs.depreciation"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">630</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>REBIT (Recurring Earnings before Interest, Taxes)</td>

                                <td ng-repeat="cols in inputs.ebit"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">9901</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Financial revenue</td>

                                <td ng-repeat="cols in inputs.finRev"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">75</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td>Financial expenses</td>

                                <td ng-repeat="cols in inputs.finExp"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">65</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which interest charges</td>

                                <td ng-repeat="cols in inputs.finExpInterest"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">650</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which bank charges</td>

                                <td ng-repeat="cols in inputs.finExpBank"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes"></td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which other financial charges</td>

                                <td ng-repeat="cols in inputs.finExpOther"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes"></td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Non recurring income</td>

                                <td ng-repeat="cols in inputs.nrIncome"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">76</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Non recurring charges</td>

                                <td ng-repeat="cols in inputs.nrCharges"><input my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">66</td>

                                <td class="source">Financial Statements or Annexes</td>
                            </tr>

                            <tr>
                                <td>Taxes</td>

                                <td ng-repeat="cols in inputs.taxes"><input ng-class="errors.taxes[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">67/77 - 780+680</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which income taxes</td>

                                <td ng-repeat="cols in inputs.incomeTaxes"><input ng-class="errors.incomeTaxes[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">67/77</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which withdrawals from deferred taxes</td>

                                <td ng-repeat="cols in inputs.withDefTaxes"><input ng-class="errors.withDefTaxes[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">780</td>

                                <td class="source">Financial Statements</td>
                            </tr>

                            <tr>
                                <td class="sublabel">Of which transfer to deferred taxes</td>

                                <td ng-repeat="cols in inputs.transDefTaxes"><input ng-class="errors.transDefTaxes[cols.year]" my-numberformat="" ng-model="cols.data" type="text" required="" onclick="this.select()" /></td>

                                <td class="NBBCodes">680</td>

                                <td class="source">Financial Statements</td>
                            </tr>
                        </tbody>

                        <tbody class="calculated">
                            <tr>
                                <td>Recurring income</td>

                                <td ng-repeat="cols in inputs.recIncome">{{cols.data | NumberEU}}</td>

                                <td>9902</td>

                                <td class="source">Automatic computation</td>
                            </tr>

                            <tr>
                                <td>Net income</td>

                                <td ng-repeat="cols in inputs.netIncome">{{cols.data | NumberEU}}</td>

                                <td>9904</td>

                                <td class="source">Automatic computation</td>
                            </tr>

                            <tr>
                                <td>EBITDA (Earnings before Interest, Taxes,<br />
                                <span id="tabin">Depreciation and Amortization)</span></td>

                                <td ng-repeat="cols in inputs.ebitda">{{cols.data | NumberEU}}</td>

                                <td></td>

                                <td class="source">Automatic computation</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="error">
	                    <span>Some of the input data seems to be incorrect. The <span class="toError">yellow labeled</span> fields must combine to the <span class="error">red labeled</span> field.</span>
                    </div>

                    <div id="buttonsdiv" class="centered">
                        <span><span class="button" ng-click="clearing = true" ng-show="!clearing" tooltips="" tooltip-side="bottom" tooltip-content="Set all data to 0">Clear</span> <span class="wrapper" ng-show="clearing"><img ng-click="clear()" src="IMG/approved-151676.svg" alt="accept" width="25" height="25" /><img ng-click="clearing = false" src="IMG/remove-151678.svg" alt="cancel" width="25" height="25" /></span></span><span class="button" ng-click="save()" tooltips="" tooltip-side="top" tooltip-content="Save and stay">Save</span> <span class="button" ng-click="next()" tooltips="" tooltip-side="bottom" tooltip-content="Save and continue">Next</span>
                    </div>
                </div>
            </div>
        </form><script type="text/ng-template" id="helptemplate">
<![CDATA[
        <div id="template">
        <h1>Working:</h1>
        <ul style="list-style-type:none">
        <li>Select your sector from the dropdown list</li>
        <li>Fill in your company name and closing date</li>
        <li>Put "Yes" or "No" for the branches outside Euro Zone, and fill in the country names if "Yes"</li>
        <li>Select the correct currency</li>
        <li>Fill in the number of months that you are reporting</li>
        <li>Fill in the financial figures based on your financial statements / annexes</li>
        <li>Press "Next" to go to the ratio overviews or save to stay on this page.</li>
        </ul>
        </div>
        ]]>
        </script>
    </div>
</body>
</html>
