#login h1{
	margin-left: 350px;
}

#login form{
	padding: 35px;
	background-color: #d1d1d1;
	border-radius: 25px;
	margin-right: 25px;
	margin-top: 25px;
	text-align: center;
}

#login .form-group {
	text-align: left;
	margin:5px auto;
	width: 400px;
	padding-left: 50px;
}

#login label{
	font-weight: bold;
	padding: 10px;
	display: block;
}

#login input{
	padding: 5px;
	width: 300px;
}

#login .sub-msg{
	display: block;
	color: red;
	border-radius: 5px;
	padding: 4px;
	margin-top: 5px;
}

#login .alert {
	color: red;
	padding: 0 15px;
}