#portals{
	text-align: center;
}

.portal-a{
	padding: 110px 50px;
	margin: 20px;
	border: 8px solid #AB7B0C;
	display: inline-block;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 30px;
	width: 220px;
	border-radius: 35px;
	text-decoration: none;
	color: black;
	height: 70px;
	float: left;
	cursor: pointer;
}

.innerPortals {
	display: block;
	width: 1200px;
	height: 100%;
	margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
	.innerPortals {
		width: 900px;
	}
}

@media (max-width: 900px) {
	.innerPortals {
		width: 500px;
	}
}