<div ng-controller="PortalCtrl">
<div id="buttonsdiv">
<button type="button" ng-click="back()">Back to input</button>
</div>
<div id="portals">
<div class="innerPortals">
<a ng-click="route('balans')" class="portal-a"><span>Balance sheet Ratios</span></a>
<a ng-click="route('return')" class="portal-a"><span>Return Ratios</span></a>
<a ng-click="route('coverage')" class="portal-a"><span>Coverage Ratios</span></a>
<a ng-click="route('turnover')" class="portal-a"><span>Turnover Ratios</span></a>
<a ng-click="route('wcmsavings')" class="portal-a"><span>WCM Savings</span></a>
<a ng-click="route('cccevolution')" class="portal-a"><span>CCC Evolution</span></a>
<div>
</div>
</div>