<div id="ratios">
    <div>
        <div id="banner">
            <a href="http://www.usgprofessionals.be"><img src="IMG/logo-usg-professionals.png" alt="logo USG Professionals" width="200" height="40"></a>

            <h1>RETURN RATIOS</h1>
        </div>
        <div ng-controller="headerCtrl" id="compInfo">
            <div><h3>Company  :</h3> <label>{{company.name}}</label></div>
            <div><h3>Sector  :</h3> <label>{{company.sector.name}}</label></div>
            <div><h3>Sector Average Source</h3> <label>{{source_name}}</label></div>
        </div>

        <div ng-controller="EquityCtrl" class="inline">
            <div>
                <h2>Return on Equity<a class="questionmark" ng-click="help()" print-remove></a></h2>
            </div>

            <div class="top-border">
                <canvas id="ReturnEquity" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"></canvas>
            </div>

            <div class="top-border">
                <table>
                    <thead>
                        <tr>
                            <th></th>

                            <th ng-repeat="label in labels track by $index">{{label}}</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Return on Equity</td>

                            <td ng-repeat="item in data[0] track by $index"><div><img ng-src="{{condition(item)}}" alt="condition"/>{{item | NumberEU}} %</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="top-border formula-div">
                <div class="formula"><label>Formula:</label></div><div class="formula"><label class="bottom-border">Net Profit</label><br /><label>Equity</label></div>
            </div>
        </div>

        <div ng-controller="AssetsCtrl" class="inline">
            <div>
                <h2>Return on Assets<a class="questionmark" ng-click="help()" print-remove></a></h2>
            </div>

            <div class="top-border"> 
                <canvas id="ReturnAssets" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-colours="colours"></canvas>
            </div>

            <div class="top-border">
                <table>
                    <thead>
                        <tr>
                            <th></th>

                            <th ng-repeat="label in labels track by $index">{{label}}</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Return on Assets</td>

                            <td ng-repeat="item in data[0] track by $index"><div><img ng-src="{{condition(item)}}" alt="condition"/>{{item | NumberEU}} %</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="top-border formula-div">
                <div class="formula"><label>Formula:</label></div><div class="formula"><label class="bottom-border">Net Profit</label><br /><label>Total Assets</label></div>
            </div>
        </div>

        <div id="buttonsdiv" class="centered" ng-controller="ButtonsCtrl" print-remove>
            <button type="button" ng-click="back()">Back</button>
        </div>
    </div>
    <script type="text/ng-template" id="equitytemplate">
        <div id="ratios">
        <div class="template">
        <h2>Return on equity</h2>
        <p>The amount of net income returned as a percentage of shareholders equity. The ROE (Return on Equity) measures a corporation's profitability by revealing how much profit a company generates with the money shareholders have invested. The ROE is important, in particular if the company needs to attract new equity to finance its expansion.</p>
        <br />
        <h3>Interpretation of the outcome</h3>
        <p>For this ratio, we take the industry/sector average as benchmark: </p>
        <p><img src="IMG/green.png" alt="green" width="24" height="28" />Return on equity ratio &gt; sector average: The higher the ratio percentage, the more efficient management is in utilizing its equity base and the better return is to investors. But a higher ROE does not necessarily mean better financial performance of thecompany. The higher ROE can be the result of high financial leverage, but a too high financial leverage can jeopardize the company's solvency.</p>
        <p><img src="IMG/orange.png" alt="orange" width="27" height="31" />Return on equity slightly below sector average: Be careful! It is possible that the company will have difficulties attracting new investors/equity to finance expansion.</p>
        <p><img src="IMG/red.png" alt="red" width="24" height="30" />Return on equity ratio &lt; sector average: A company with a low ROE might indicate that it is underperforming indicator and that the management is not investing the shareholder’s funds efficiently. This will result in unsatisfied shareholders and in the fact that the company will have difficulties attracting new investors/equity to finance it.</p>
        <p>The minimum ROE can depend from sector to sector, as it depends from the risk premium. </p>
        <h3>Recommendations</h3>
        <ul><li>Businesses need continuously find ways to improve their return on equity by increasing the return on sales. This can be done by either improving their margins (e.g. higher prices, less discounts) or by improving their operational efficiency enabling to reduce their costs. </li><li>
        The ROE can also be improved by reducing the taxes or taking benefit of any government policies, subsidies or incentives that favor its industry. For example, the government allows the information technology industry certain tax breaks to encourage growth in the IT field. As a result, many IT companies have improved their return on equity. </li>
        <li>Increasing the financial leverage (this refers to the amount of debt a company holds). When a company increases its debt compared to the equity level, this can have a positive effect to the return on equity. Usually the cost of external debt is lower than the cost of equity, and the interest payments are deductible However, increasing debt must be done with caution, taking also into account the minimum required solvency.</li>
        <li>Having a high asset turnover rate can have a positive impact on a company's return on equity. When a company frequently turns over its assets in a given year, it can be an indicator of operational efficiency. Some companies focus more on increasing net margins, while others focus on increasing asset turnover. Both have a positive impact on return on equity. </li></ul>
        </div>
        </div>
    </script>
    <script type="text/ng-template" id="assetstemplate">
        <div id="ratios">
        <div class="template">
        <h2>Return on assets</h2>
        <p>An indicator of how profitable a company is relative to its total assets. ROA gives an idea as to how efficient management is at using its assets to generate earnings. Sometimes this is referred to as "return on investment".</p>
        <br />
        <h3>Interpretation of the outcome</h3>
        <p>For this ratio, we take the industry/sector average as benchmark: </p>
        <p><img src="IMG/green.png" alt="green" width="24" height="28" />Return on assets ratio slightly below the sector average: Be careful! It is possible that the company is not earning enough money from their capital investments.</p>
        <p><img src="IMG/orange.png" alt="orange" width="27" height="31" />Return on assets ratio slightly below the sector average: Be careful! It is possible that the company is not earning enough money from their capital investments.</p>
        <p><img src="IMG/red.png" alt="red" width="24" height="30" />Return on assets ratio &lt; sector average: Companies are not earning enough money from their capital investments. It can be an indicator of a lower profitability, or of the fact that too much assets are tied in the cash conversion cycle.</p>
        <p>Depending on the sector, the minimum ratio can sometimes be higher or lower.</p>
        <h3>Recommendations</h3>
        <p>Businesses must constantly find ways to reduce asset costs and increase income to keep your ROA as high as possible:</p>
<ul><li>Increase revenues through improved customer service or by exploring market segments you have not sold to previously.</li><li>
Look at opportunities to ut expenses, so as to ensure a higher return. Watch for excessive payroll expenses (less employees by improving productivity), rising materials supplies (renegotiating with suppliers or finding new cheaper suppliers) and increasing shipping costs (obtaining lower shipping costs through renegotiation or by charging a shipping fee to customers)</li>
<li>An active Cash Management enables to transfer excess from current account to another account with a debit position which optimizes interest income/expenses. At the same time, these funds are available to use when required. This will have a positive impact on the ROA, ROE and the solvency.</li>
<li>Having a high asset turnover rate can have a positive impact on a company's return on assets. When a company frequently turns over its assets in a given year, it can be an indicator of operational efficiency. Some companies focus more on increasing net margins, while others focus on increasing asset turnover. Both have a positive impact on return on equity.</li></ul>
</div>
        </div>
    </script>
</div>
